*{
    margin: 0;
    padding: 0;
}
body{
    margin: 50;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    background-color: rgb(255, 255, 255);
}

body.active{
    background-color: black;
}

header{
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 0;
    margin-left: 20%;
    margin-right: 20%;
    height: 50px;
    background-color: rgb(1, 1, 97);
}

.profile-img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 1rem;
}
.profile-img:hover{
    cursor: pointer;
    background-color: linear-gradient(rgba(55, 25, 25, 0.75),rgba(152, 30, 30, 0.484));
}

header li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 20px;
} 

 header ul {
    display: flex;
 }   

header *{
    display: inline;
    height: 50px;
    line-height: 50px;
    list-style-type: none;
}

header li a:hover{
    text-transform: uppercase;
    transition: cubic-bezier(solid);
    transform-style: inherit;
    color: rgb(0, 216, 249);
}

section {
    width: 60%;
    height: 100vh;
    border: 1px solid black;
    box-shadow: 0px 15px 25px 0px rgba(2, 33, 37, 0.382);
    margin: 0 20% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.imag1{
    width: 400px;
    height: 500px;
    border-radius: 50%;
}

.overlay {
    position: relative;
    margin-top: -7.5rem;
    bottom: 4;
    left: 11rem; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 35%;
    border-radius: 5rem;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  .section-inner:hover .overlay {
    opacity: 1;
  }

footer{
    text-align: center;
    padding: 10px;
}

#href{
    font-size: 2em;
}

section h2{
    font-size: 5em;
}

section li{
    font-size: 1.5em;
}

section br{
    font-size: 1.5;
}

section p{
    font-size: 1.5;
}

section h3{
    font-size: 1.5em;
}
#switch{
    float: right;
}

header a{
    text-decoration: none;
    color: black;
}

#hero {

    background-image: linear-gradient(rgba(255, 238, 203, 0.972),rgba(255, 255, 255, 0.525)), url('./home.jpeg');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/beach.jpg');
}

#experiences {
    background-image: linear-gradient(rgba(255, 255, 255, 0.632),rgba(255, 255, 255, 0.703)), url('./footr.avif');    
}

#hobbies {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('./homew.jpeg');    
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/canyon.jpg');
} 